{% extends "base.html" %} 
{% load static %} 
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div style="height: 550px;" class="col-sm-3">
            <h3>Servicios</h3>
            <ul>
                <li> 
                    <a href='#'>Reconocimiento de digitos</a> 
                </li>
                <li> 
                    <a href='#'>Conversión de archivos</a> 
                </li>
                <li> 
                    <a href='#'>Transferencia de estilo</a> 
                </li>
            </ul>
        </div>
        <div class="col-sm-9">
            <section>
                <h3>Transferencia de estilo</h3>
                {% if filePathName is not None%}
                <img src="{{filePathName}}" width="400px" height="400px" 
                alt="prediccion">
                <img src="{{resultado}}" width="400px" height="400px" 
                alt="trans_estilo">
                <h4>Transferencia de estilo completada en {{tiempo}} segundos</h4>
                {% else %}
                <img src="{%static "/img/angel.jpg"%}" width="400px" 
                height="400px" alt="digitos">
                <img src="{%static "/img/estilo_grito.jpg"%}" width="400px" 
                height="400px" alt="digitos"><br><br> 
                {% endif %}
                <form method="post" enctype="multipart/form-data" 
                action="transferencia-estilo">
                    {% csrf_token %}
                    <input name="filePath" type="file" required><br><br>
                    <button class="btn btn-primary" type="submit">
                    Transferir estilo</button>
                </form>
        </div>
    </div>
</div>
{% endblock %}